.error-container {
    background: rgba(251, 43, 118, 0.2);
    border-radius: 8px;
    font-size: 0.8rem;
    width: inherit;
    height: 30px;
    max-width: inherit;
    text-align: left;
    margin: 5px auto;
    display: flex;
    align-items: center;
}

.error-message {
    padding: 15px;
    color: #FB2B76;
}

.fadeMe {
    animation:fadeIn 1s linear;
}

@keyframes fadeIn {
    0% {
        opacity:0
    }
    100% {
        opacity:1;
    }
}

.fadeMe.none {
    display:none
}